<!-- Style Css -->
<link rel="stylesheet" href="style.css">

<!-- Custom Styles -->
<link rel="stylesheet" href="css/custom.css">

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var data = {
  "Access, Inclusion and Justice":{
"discrimination":146,
"equality":357,
"ethical":225,
"ethics":212,
"freedom":168,
"human rights":98,
"inclusive":59,
"justice":123,
"open internet":12,
},
"Decentralising Power and Building Alternatives":{
"blockchain":954,
"competition":264,
"decentralisation":7,
"decentralised":39,
"decentralization":14,
"decentralized":260,
"open-source":1029,
},
"Environment, Sustainability and Resilience":{
"climate change":619,
"climate crisis":85,
"global warming":86,
"right to repair":18,
"sustainability":50,
"sustainable":164,
},
"Privacy, Identity, and Data Governance":{
"anonymity":35,
"data governance":4,
"data privacy":85,
"digital id":18,
"e-id":12,
"encryption":478,
"personal data":160,
"privacy":1709,
},
"Public Space and Sociality":{
"offline":232,
"public space":14,
"smart city":41,
},
"Trustworthy Information Flows, Cybersecurity and Democracy":{
"censorship":195,
"cybersecurity":267,
"democracy":234,
"fake news":274,
"filter bubble":14,
},
  // "aboveoecd": { "B-S-J-Z (China)": 1,"Singapore":1,"Macao (China)":1,"Hong Kong (China)":1,"Estonia":1,"Canada":1,"Finland":1,"Ireland":1,"Korea":1,"Poland":1,"Sweden":1,"New Zealand":1," United States":1,"Viet Nam":1," United Kingdom":1,"Japan":1,"Australia":1,"Chinese Taipei":1,"Denmark":1,"Norway":1,"Germany":1,"Slovenia":1,"Belgium":1,"France":1},
}

function processData(data) {
  var treeData = [];

  var smallBrands = { name: "Other", children: [] };

  for (var brand in data) {
    var brandData = { name: brand, children: [] }
    var brandTotal = 0;
    for (var model in data[brand]) {
      brandTotal += data[brand][model];
    }

    for (var model in data[brand]) {
      // do not add very small
      if (data[brand][model] > 0) {
        brandData.children.push({ name: model, count: data[brand][model] });
      }
    }

    // add to small brands if total number less than
    if (brandTotal > 1) {
      treeData.push(brandData);
    }
    // else {
    //   smallBrands.children.push(brandData)
    // }

  }
  // treeData.push(smallBrands);
  return treeData;
}

// create chart
var chart = am4core.create("box_hn_site", am4charts.TreeMap);
chart.hiddenState.properties.opacity = 1; // this makes initial fade in effect

// only one level visible initially
chart.maxLevels = 1;
// define data fields
chart.dataFields.value = "count";
chart.dataFields.name = "name";
chart.dataFields.children = "children";
chart.homeText = "Click to see keywords";

// enable navigation
chart.navigationBar = new am4charts.NavigationBar();

// level 0 series template
var level0SeriesTemplate = chart.seriesTemplates.create("0");
level0SeriesTemplate.strokeWidth = 2;

// by default only current level series bullets are visible, but as we need brand bullets to be visible all the time, we modify it's hidden state
level0SeriesTemplate.bulletsContainer.hiddenState.properties.opacity = 1;
level0SeriesTemplate.bulletsContainer.hiddenState.properties.visible = true;
// create hover state
var columnTemplate = level0SeriesTemplate.columns.template;
var hoverState = columnTemplate.states.create("hover");

// darken
hoverState.adapter.add("fill", function (fill, target) {
  if (fill instanceof am4core.Color) {
    return am4core.color(am4core.colors.brighten(fill.rgb, -0.2));
  }
  return fill;
})

// add logo
var image = columnTemplate.createChild(am4core.Image);
image.opacity = 0.55;
image.align = "center";
image.valign = "middle";
image.width = am4core.percent(80);
image.height = am4core.percent(80);

// add adapter for href to load correct image
image.adapter.add("href", function (href, target) {
  var dataItem = target.parent.dataItem;
  if (dataItem) {
    // return "https://www.amcharts.com/lib/images/logos/" + dataItem.treeMapDataItem.name.toLowerCase() + ".png";
    return "https://gitlab.com/mpalinski/topic_modelling/-/raw/master/img/" + dataItem.treeMapDataItem.name + ".png";

  }
});

// level1 series template
var level1SeriesTemplate = chart.seriesTemplates.create("1");
level1SeriesTemplate.columns.template.fillOpacity = 0;

var bullet1 = level1SeriesTemplate.bullets.push(new am4charts.LabelBullet());
bullet1.locationX = 0.5;
bullet1.locationY = 0.5;
bullet1.label.text = "{name}";
bullet1.label.fill = am4core.color("#ffffff");

// level2 series template
var level2SeriesTemplate = chart.seriesTemplates.create("2");
level2SeriesTemplate.columns.template.fillOpacity = 0;

var bullet2 = level2SeriesTemplate.bullets.push(new am4charts.LabelBullet());
bullet2.locationX = 0.5;
bullet2.locationY = 0.5;
bullet2.label.text = "{name}";
bullet2.label.fill = am4core.color("#ffffff");

chart.data = processData(data);

}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="box_hn_site"></div>
