<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// create chart
var chart = am4core.create("chartdiv", am4charts.TreeMap);
chart.hiddenState.properties.opacity = 0; // this makes initial fade in effect

chart.data = [{
   name: "Access, Inclusion and Justice",
  children: [
  {
  name: "discrimination",
  value: 146
  },
  {
  name: "equality",
  value: 357
  },
  {
  name: "ethical",
  value: 225
  },
  {
  name: "ethics",
  value: 212
  },
  {
  name: "freedom",
  value: 168
  },
  {
  name: "human rights",
  value: 98
  },
  {
  name: "inclusive",
  value: 59
  },
  {
  name: "justice",
  value: 123
  },
  {
  name: "open internet",
  value: 12
  },
  ]},
  {
   name: "Decentralising Power and Building Alternatives",
  children: [
  {
  name: "blockchain",
  value: 954
  },
  {
  name: "competition",
  value: 264
  },
  {
  name: "decentralisation",
  value: 7
  },
  {
  name: "decentralised",
  value: 39
  },
  {
  name: "decentralization",
  value: 14
  },
  {
  name: "decentralized",
  value: 260
  },
  {
  name: "open-source",
  value: 1029
  },
  ]},
  {
   name: "Environment, Sustainability and Resilience",
  children: [
  {
  name: "climate change",
  value: 619
  },
  {
  name: "climate crisis",
  value: 85
  },
  {
  name: "global warming",
  value: 86
  },
  {
  name: "right to repair",
  value: 18
  },
  {
  name: "sustainability",
  value: 50
  },
  {
  name: "sustainable",
  value: 164
  },
  ]},
  {
   name: "Privacy, Identity, and Data Governance",
  children: [
  {
  name: "anonymity",
  value: 35
  },
  {
  name: "data governance",
  value: 4
  },
  {
  name: "data privacy",
  value: 85
  },
  {
  name: "digital id",
  value: 18
  },
  {
  name: "e-id",
  value: 12
  },
  {
  name: "encryption",
  value: 478
  },
  {
  name: "personal data",
  value: 160
  },
  {
  name: "privacy",
  value: 1709
  },
  ]},
  {
   name: "Public Space and Sociality",
  children: [
  {
  name: "offline",
  value: 232
  },
  {
  name: "public space",
  value: 14
  },
  {
  name: "smart city",
  value: 41
  },
  ]},
  {
   name: "Trustworthy Information Flows, Cybersecurity and Democracy",
  children: [
  {
  name: "censorship",
  value: 195
  },
  {
  name: "cybersecurity",
  value: 267
  },
  {
  name: "democracy",
  value: 234
  },
  {
  name: "fake news",
  value: 274
  },
  {
  name: "filter bubble",
  value: 14
  },
  ]},

];

chart.colors.step = 2;

// define data fields
chart.dataFields.value = "value";
chart.dataFields.name = "name";
chart.dataFields.children = "children";

chart.zoomable = false;
var bgColor = new am4core.InterfaceColorSet().getFor("background");

// level 0 series template
var level0SeriesTemplate = chart.seriesTemplates.create("0");
var level0ColumnTemplate = level0SeriesTemplate.columns.template;

level0ColumnTemplate.column.cornerRadius(10, 10, 10, 10);
level0ColumnTemplate.fillOpacity = 0;
level0ColumnTemplate.strokeWidth = 4;
level0ColumnTemplate.strokeOpacity = 0;

// level 1 series template
var level1SeriesTemplate = chart.seriesTemplates.create("1");
var level1ColumnTemplate = level1SeriesTemplate.columns.template;

level1SeriesTemplate.tooltip.animationDuration = 0;
level1SeriesTemplate.strokeOpacity = 1;

level1ColumnTemplate.column.cornerRadius(10, 10, 10, 10)
level1ColumnTemplate.fillOpacity = 1;
level1ColumnTemplate.strokeWidth = 4;
level1ColumnTemplate.stroke = bgColor;

var bullet1 = level1SeriesTemplate.bullets.push(new am4charts.LabelBullet());
bullet1.locationY = 0.5;
bullet1.locationX = 0.5;
bullet1.label.text = "{name}";
bullet1.label.fill = am4core.color("#ffffff");

chart.maxLevels = 2;

}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div>
