<!-- Style Css -->
<link rel="stylesheet" href="style.css">

<!-- Custom Styles -->
<link rel="stylesheet" href="css/custom.css">

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv", am4charts.XYChart);
chart.padding(40, 40, 40, 40);

var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.dataFields.category = "network";
categoryAxis.renderer.minGridDistance = 1;
categoryAxis.renderer.inversed = true;
categoryAxis.renderer.grid.template.disabled = true;

var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
valueAxis.min = 0;

var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.categoryY = "network";
series.dataFields.valueX = "MAU";
series.tooltipText = "{valueX.value}"
series.columns.template.strokeOpacity = 0;
series.columns.template.column.cornerRadiusBottomRight = 5;
series.columns.template.column.cornerRadiusTopRight = 5;

var labelBullet = series.bullets.push(new am4charts.LabelBullet())
labelBullet.label.horizontalCenter = "left";
labelBullet.label.dx = 10;
labelBullet.label.text = "{values.valueX.workingValue.formatNumber('#.0as')}";
labelBullet.locationX = 1;

// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
series.columns.template.adapter.add("fill", function(fill, target){
  return chart.colors.getIndex(target.dataItem.index);
});

categoryAxis.sortBySeries = series;
chart.data = [
{"network":"github.com","MAU":572},
{"network":"medium.com","MAU":447},
{"network":"theguardian.com","MAU":326},
{"network":"techcrunch.com","MAU":307},
{"network":"theverge.com","MAU":192},
{"network":"zdnet.com","MAU":190},
{"network":"reuters.com","MAU":184},
{"network":"arstechnica.com","MAU":175},
{"network":"iafrikan.com","MAU":123},
{"network":"bbc.com","MAU":101},
{"network":"venturebeat.com","MAU":91},
{"network":"technologyreview.com","MAU":79},
{"network":"fastcompany.com","MAU":78},
{"network":"economist.com","MAU":75},
{"network":"cnbc.com","MAU":70},


]



}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div>
